/* font importing */

@import url('https://fonts.googleapis.com/css2?family=Nova+Oval&display=swap');

/* navigation bnar CSS */


#header {
    box-shadow: 0px 1px 3px 0.5px #6969695c;
}

.web-logo {
    font-weight: bold;
    letter-spacing: 1.2px;
    font-family: 'Nova Oval', cursive;
}
.logo {
    max-height: 32px;
    border-radius: 7px;
    box-shadow: 0px 1.5px 2px 0.3px #0000005c;
    border: 0.2px solid rgba(0, 0, 0, 0.468);
}

/* Footer css */

#footer {
    border-top: 0.1px solid #3e3e3e;
    box-shadow: 0px -1.2px 1px 0.5px #6969695c;
}